
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:wght@600&display=swap');

html{
    font-family: 'Karla', sans-serif;
}
.qt-icon{
	width: 1.25rem;
    height: 1.25rem;
display: inline-block
}
.qt-bage{
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: center;
    border-radius: 9999px;
    padding-left: 0.375rem; /* 6px */
    padding-right: 0.375rem;
   
}
 

@keyframes slideDown{
    0%{transform : translateY(-100%)}

    50%{transform : ranslateY(0)}
}
.qt-topmenu-expanded{
  
    position: absolute;
    z-index: 50;
    top: 10px ; 
    width: 100%;
    text-align: center;
    background: white;
    animation: slideDown .4s ease-in-out;
  }
  .qt-topmenu-expanded-act{
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity));
  }
  .img-story{
    background: url(./dc21f4143894845.62d610d0aa9fe.jpg);
    background-size: cover;
    
  }
  .content{
    top: 50px;
    padding: 120px 10px;
  }
  .cmt{
  
     color: black;
    
  }
 .img-about{
  background: url(./a1.jpg);
  background-size: cover;
  background-size: no-repeat;
  background-size: center;
 }
 .img-about2{
  background: url(./a2.jpg);
  background-size: cover;
  background-size: no-repeat;
  background-size: center;
 }
 .qt-butom{
  
 }
 @media (min-width: 0px) and (max-width: 438px)
 {
  .qt-product{
    margin-bottom: 230px;
    height: 100px;
  }
  .img-about{
    width: 200px;
    height: 200px;
  }
  .img-about2{
    width: 200px;
    height: 200px;
  }
  .font-name{
    font-size: 12px;
  }
  .font-name-child{
    font-size: 10px;
  }
 }