@media (min-width: 0px) and (max-width: 739px)
{
 .qt-product{
   margin-bottom: 230px;
   height: 100px;
 }
 .img-about{
   width: 200px;
   height: 200px;
 }
 .img-about2{
   width: 200px;
   height: 200px;
 }
 .font-name{
   font-size: 12px;
 }
 .font-name-child{
   font-size: 10px;
 }
}